*{
	padding:0;
	margin: 0;
}
img{
	border: none;
	height: auto;
	max-width: 100%;
}
body{
	font-family: Arial, Helvetica;
	line-height: 1.3;
}
section{
	margin:0;
	padding:0;
}
.indent{
	margin:30px 0;
}
.indent_zero{
	padding:0!important;
}
/* --header -- */
header{
	margin:20px 0 5px 0;
}
header .container{
	padding: 0;
}
header img.logo{
	padding-top: 22px;
}
header img.banner{
	float: right;
}
.navbar-default {
    background-color: #fff!important;
}
section.navigation .navbar{
	margin:0;
	padding:0;
	background-image: url(../images/menu-img.png);
    background-repeat: repeat-x;
    background-position:center center;
	border:none;
}
.navbar-nav > li > a{
	line-height: 32px!important;
}
#bs-example-navbar-collapse-1{
	padding: 0;
}
#bs-example-navbar-collapse-1 > ul:nth-child(1) > li:nth-child(1) > a{
	padding-left: 0;
}
/* --/header -- */
/* -- content-- */
.content{
	margin:20px 0;
}
#carousel-example-generic .item{
	min-height: 340px;
}
.content .carousel-inner .bgslider{
	background-size: cover !important;
	background-position: center center !important;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.content .carousel-inner{
	border:10px solid #f3f3f3;
}
ol.carousel-indicators{
	left: initial;
	width: initial;
	right: 20px;
}
ol.carousel-indicators li{
	border-radius: initial;
	background-color:#f3f3f3;
	border:none;
}
ol.carousel-indicators li.active{
	background-color: #eb4900;
}
.content .border_img img{
	border:10px solid #f3f3f3;
}
.content .header_post{
	overflow: hidden;
}
.content .row.indent{
	border-bottom:2px solid #e6e6e6;
	padding-bottom:20px;
}
.content .header_post .user{
	float:left;
}
.content .header_post .comments{
	float:right;
}
.content .header_post .comments img{
	padding-right: 5px;
}
.pagination_content .pagination > li > a,.pagination_content .pagination > li > span{
	border:0;
	color: #868686;
	font-weight: bold;
	font-size: 30px;
}
.pagination_content .pagination > li > a:hover,
.pagination_content .pagination > li > span:hover,
.pagination_content .pagination > li > a:focus,
.pagination_content .pagination > li > span:focus{
	color: #eb4900!important;
    background-color: #fff!important;
    border-color: none!important;
}
section.content > div > div.col-md-4{
	padding-left:70px;
}
section.content .img_search{
	position:absolute;
	display:block;
	top:10px;
	right:10px;

}
section.content input[placeholder]{
	color:#000;
	text-indent:5px;
	padding-right:40px;
}
section.content .search{
	border:5px solid #f3f3f3;
	width:100%;
	height:45px;
	color:#000;
}
section.content .widget{
	border:20px solid #f3f3f3;
	width: 100%;
	margin-top:40px;
}
.table_categories{
	color:#535353;
	width:100%;
}
.table_categories td{
	padding: 5px;
}
.table_categories tr td:nth-child(2){
	padding-left:50px;
}
section.content .categories h2{
	border-bottom: 5px solid #e6e6e6;
	color:#01b2bf;
	padding-bottom: 5px;
	margin-top: 40px;
}
.content ul.posts li img{
 padding-right:10px;
}
.content ul.posts li{
padding:5px 0;
}
.content ul.posts{
	list-style:none;
}
#vk_groups{
	margin:30px auto;

}
/* -- /content-- */
/* --footer-- */
footer{
	background-color:#f0f0f0;
	line-height:1.6em;
	padding:40px;
}
footer h3{
	color:#01b2bf;
	font-weight:700;
}
footer .browse{
	padding-left:50px;
}
footer a, section a{
	color:#eb4900;
}
section a:hover,
footer a:hover{
 text-decoration:none;
 color:#ff3300;
 font-weight:700;
}
footer ul{
	list-style:none;
}
section .copyright{
	margin: 40px auto;
}
section .copyright .col-md-5 span:first-child{
	padding-right:40px;
}

/* --/footer-- */
/* Large Devices, Desktop */
@media only screen and (max-width : 1200px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	header img.logo{
		display: block;
		margin:0 auto;
	}
	header img.banner{
	float: none;
	}
	section.navigation .navbar{
	margin:0;
	padding:0;
	background-image: none;
	background: linear-gradient(to top, #d5d5d5, #f4f4f4);
	}
	#bs-example-navbar-collapse-1 > ul:nth-child(1) > li > a{
		padding:5px 5px!important;
	}
	#bs-example-navbar-collapse-1 > div.wrap > ul > li > a{
		padding:5px 4px!important;
	}
	.content .border_img img{
	display:block;
	margin:0 auto;
	}
	section.content > div > div.col-md-4{
	padding-left:10px;
	}
	footer .browse{
	padding-left:0;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	#bs-example-navbar-collapse-1 > ul:nth-child(1) > li > a:hover{
		transition: all 1s;
		background-color: rgba(119, 119, 119, 0.8);
	}
	#bs-example-navbar-collapse-1{
		padding: 15px;
	}
	#bs-example-navbar-collapse-1 > ul:nth-child(1) > li > a{
		padding: 0;
	}
	#bs-example-navbar-collapse-1 > div.wrap > ul > li{
		display:inline-block;
	}
	#bs-example-navbar-collapse-1 > div.wrap{
		text-align: center;
	}
	#bs-example-navbar-collapse-1 > div.wrap > ul{
		display: inline-block;
	}
	 header img.banner{
     padding-left: 10px;
     }
}	
@media only screen and (max-width : 600px) {
	#bs-example-navbar-collapse-1 > ul:nth-child(2) > li > a > img{
		width: 25px;
		height: 25px;
	}
	.pagination_content .pagination > li > a,.pagination_content .pagination > li > span{
	font-size: 25px;
	padding:5px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
}